

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}


/* Variables */
:root {
    /* Colors */
    --main-bg-color: #fae3e3;
    --main-button-color: #846B8A;
    --main-button-hover-color: #C98BB9;
    --main-button-border: #C98BB9;
    --accent-button-color: #CFA5B4;
    --accent-button-text-color: #27212C;
    --accent-button-hover-color: #C98BB9;
    --accent-button-text-hover-color: #fff;
    --accent-button-border: #846B8A;
    --main-text-color: #433C53;
    --accent-text-color: #846B8A;
    --list-bg-color: #F7D4BC;
    --input-bg-color: #FCF1EE;
}

/* Nav Links */
.navbar {
    background-color: var(--main-bg-color);
}

.nav-link {
    color: var(--accent-button-text-color);
}

.nav-link:hover {
    color: var(--accent-button-color);
}

/* Buttons */

.btn-primary {
    background-color: var(--main-button-color);
    border-color: var(--main-button-hover-color);
}

.btn-primary:hover {
    background-color: var(--main-button-hover-color);
    border-color: var(--main-button-color);
}

.btn-primary:focus {
    background-color: var(--main-button-hover-color);
    border-color: var(--main-button-color);
}

.btn-success {
    background-color: var(--accent-button-color);
    color: var(--accent-button-text-color);
    border-color: var(--accent-button-border);
}

.btn-success:hover {
    background-color: var(--accent-button-hover-color);
    border-color: var(--accent-button-border);
    color: var(--accent-button-text-hover-color);
}

.btn-success:focus {
    background-color: var(--accent-button-hover-color);
    border-color: var(--accent-button-border);
    color: var(--accent-button-text-hover-color);
}

/* Backgrounds */

.list-background {
    background-color: var(--list-bg-color);
}

.input-background {
    background-color: var(--input-bg-color);
}

/* List items and links */

.list-item {
    font-size: 110%;
    font-weight: 600; 
 }

.list-button {
    text-decoration: none;
    color: var(--main-button-color);
    cursor: pointer;
}

.list-button:hover {
    color: var(--main-button-hover-color);
}

.list-button-text {
    color: var(--main-text-color);
    text-decoration: none;
}

.list-button-text:hover {
    color: var(--accent-text-color);
}

/* Utility classes */
.hide {
    display: none;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-form {
    background-color: var(--main-bg-color);
    border: 4px solid var(--accent-button-border);
    border-radius: 5px;
    width: 50%;
}

.modal-close {
    float: right;
}

/* PLans page */

.active-plan-container {
    border: 2px solid #27212C;
    border-radius: 5px;
    padding-top: 1rem;
    background-color: #FCF1EE;
}

.recipe-list {
    background-color: var(--list-bg-color);
    min-height: 200px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
}

.list-header {
    padding-left: 20px;
    font-size: 120%;
    font-weight: 700;
}

.recipe-item {
    padding: 5px;
    font-size: 110%;
    font-weight: 600;
}

.recipe-item-name {
    display: inline-block;
    width: 50%;
}

.recipe-item-category {
    display: inline-block;
    width: 20%;
}

.recipe-item-created {
    display: inline-block;
    width: 20%;
}

.btn-new-plan {
    float: right;
}

.plan-list {
    background-color: var(--list-bg-color);
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
    height: 100px;
    overflow: auto;
}

/* Create/Edit Plan */

.button-container {
    margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
}

/* Ingredient/Recipe List */

.ingredient-list {
    background-color: var(--input-bg-color);
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    list-style-type: none;
    max-height: 150px;
    overflow: auto;
    padding: 0;
}

.ingredient-template-item {
    width: 30%;
    display: inline-block;
    margin-left: 5px;
}

.recipe-list-item {
    display: inline-block;
    width: 50%;
}

/* Ingredient list page */

.shopping-list {
    list-style-type: none;
    padding: 0;
    margin-top: 2rem;
    background-color: var(--input-bg-color);
    border: 2px solid var(--main-text-color);
    border-radius: 5px;
    max-height: 300px;
    width: 40%;
    overflow: auto;
}

.shopping-list-item {
    margin: 1rem;
}

/* Media Queries */

@media screen and (min-width: 993px) {
    .form-control {
        max-width: 50%;
    }
    .ingredient-list {
        max-width: 50%;
    }
    
}

@media screen and (max-width: 500px) {

    .recipe-item-name {
        width: 40%;
    }
    .recipe-item-created {
        margin-left: 15px;
    }
    .shopping-list {
        width: 90%;
    }

}

@media screen and (max-width: 321px) {
    .header-item-created {
        margin-left: 25px !important;
    }
    .recipe-item-created {
        margin-left: 15px;
    }

}
