

body {
    background-color: var(--main-bg-color);
}

/* Variables */
:root {
    /* Colors */
    --main-bg-color: beige;
    --main-button-color: darkslategray;
    --main-button-hover-color: slategray;
    --main-text-color: black;
    --accent-text-color: darkslategray;
}


/* Colors */

.btn-primary {
    background-color: var(--main-button-color);
    border-color: var(--main-button-hover-color);
}

.btn-primary:hover {
    background-color: var(--main-button-hover-color);
    border-color: var(--main-button-color);
}



/* PLans page */
.recipe-list {
    background-color: #fff;
    min-height: 200px;
    width: 100%;
    list-style-type: none;
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
}

.list-header {
    padding-left: 20px;
}

.recipe-item {
    padding: 5px;
    font-size: 110%;
    font-weight: 600;
}

.recipe-item-name {
    display: inline-block;
    width: 50%;
}

.recipe-item-category {
    display: inline-block;
    width: 20%;
}

.recipe-item-created {
    display: inline-block;
    width: 20%;
}

.btn-new-plan {
    float: right;
}

/* Utility classes */
.hide {
    display: none;
}

.plan-list {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 5px;
    list-style-type: none;
    padding: 0;
}

.plan-item {
   font-size: 110%;
   font-weight: 600; 
}

.list-button {
    text-decoration: none;
    color: var(--main-button-color);
}

.list-button:hover {
    color: var(--main-button-hover-color);
}

.list-button-text {
    color: black;
    text-decoration: none;
}

.list-button-text:hover {
    color: var(--accent-text-color);
}

/* Media Queries */
@media screen and (max-width: 500px) {

    .recipe-item-name {
        width: 40%;
    }
}

@media screen and (max-width: 321px) {
    .recipe-item-category {
        margin-right: 5px;
    }
}
