{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col hero">
            <h1 class="">Welcome To Dinnder Wizard</h1>
            <h4 class="mt-2">The number one dinner planner</h4>
            {% if not user.is_authenticated %}
            <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
            <p class="fw-bold mt-2">To start planning your dinners right now!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h4>What is dinner wizard?</h4>
        <p class="fs-5">On this page you will learn all you need to know to get started and save time on your dinner and grocery shoppings plans</p>
    </div>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">1. Getting started</h4>
            <p >Step one to getting started with Dinner Wizard is to create a plan, so let's do that.</p>
            <p>Click on the "Create New Plan" button in your emtpy active plan list.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step1.png' %}" alt="Image showing where to find the create new plan button">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">2. Create a Plan</h4>
            <p>Here you can give your plan a fitting name, For this example we call it "My first plan".</p>
            <p>As this is likely your first plan, go ahead and set it to active. The default is upcoming, more on that later.</p>
            <p>Go ahead and click create. As you can see, we will add recipes to this plan in the next step</p>
            <p class="fst-italic">If you forget to do this, don't worry. We can make it active later on.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step2.png' %}" alt="Image showing how to create a plan">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">3. Create recipe</h4>
            <p>After creating your plan, you are taken to the details page for the plan. Here you can add recipes.</p>
            <p>Notice that the recipes box is empty as you havn't added any recipes yet. Let's do that now.</p>
            <p>There are already many recipes created by other users that you can use by clicking the "Add Recipe" button, but more on that later.</p>
            <p>For now, let's use the "Create New Recipe" button.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step3.png' %}" alt="Image showing the plan details page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">4. Create your first recipe</h4>
            <p>Clicking the "Create New Recipe" button will take you to the recipe creation.</p>
            <p>Write a fitting name for your recipe, something that will make it obvious for others what it is.</p>
            <p>In the description you write how to create the recipe. If you wnat to, you can start the text with a presentation of your recipe.</p>
            <p>Next step is to select categories for your recipe, there are many to choose from, so pick the ones that fit best. You can select one, many or none. It is all up to you.</p>
            <p>As with recipes when you created your plan, we will add ingredients to the recipe in the next step.</p>
            <p class="fst-italic">Note: You do not need to write a list of ingredients in the description, we will add then in the next step.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step4.png' %}" alt="Image showing the recipe creation page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">5. The recipe details page</h4>
            <p >Just as when you created a plan, when you click create on a recipe, you are taken to the details page.</p>
            <p>Again you will find an empty box for ingredients, so let's go ahead and add some. Click in the "Add Ingredients" button.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step5.png' %}" alt="Image showing where to find the add ingredients button">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">6. Add Ingredients</h4>
            <p >Here you will find a list of ingredients that you can add. You can scroll through the list to find it, or use the filter button above the list to filter by name.</p>
            <p>If you can't find the ingredient you need, you can create a new one. Below the list you will find two fields, "name" and "unit". Add information to them and click "Create Ingredient" to add it. 
                <span class="fst-italic">Note: This will not add it to your recipe, just add it to the list of possible ingredients</span>
            </p>
            <p>When you find the ingredient you want, click on the "+" to add it. All you need to do is add a quantity and click "Add"</p>
            <p>After click add you will be returned to your recipe. Keep adding ingredients until you have all you need. When you are satisfied click the "Done" button.</p>
            <p>You will now be taken automatially to the plans overview page (read more about it below). Notice that your new recipe is automatically added to your plan.</p>
            <p class="fst-italic">You can create recipes witohut doing so from a plan, with the link in the top navigation or the button on the plans page. These will not be added to a plan, however.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step6.png' %}" alt="Image showing how to use the ingredient list page">
            </div>
            <div class="image-container">
                <img src="{% static 'media/step7.png' %}" alt="Image showing the add ingredient pop-up">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">7. Add Recipe</h4>
            <p >If you want to add an existing recipe to your plan, click the "Add Recipe" button from your plan details page.</p>
            <p>Here you will find a list of recipes, simply select the ones you want and click add. You can select multiple recipes at once using the ctrl/cmd-key.</p>
            <p>In order to help you find the ones you want more quickly, there is a filer function. Read more about it in the advanced usage section.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/recipe-list.png' %}" alt="Image showing the recipe list page">
            </div>
        </div>
    </div>
    <hr>
</div>

{% endblock %}