{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col hero">
            <h1 class="">Welcome To Dinner Wizard</h1>
            <h4 class="mt-2">The number one dinner planner</h4>
            {% if not user.is_authenticated %}
            <a href="{% url 'account_signup' %}" class="btn btn-success">Sign Up</a>
            <p class="fw-bold mt-2">To start planning your dinners right now!</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h4>What is dinner wizard?</h4>
        <p class="fs-5">On this page you will learn all you need to know to get started and save time on your dinner and grocery shopping plans</p>
        <ol class="m-3">
            <li>
                <a href="#start" class="list-button-text">Getting Started</a>
            </li>
            <li>
                <a href="#create-plan" class="list-button-text">Create a Plan</a>
            </li>
            <li>
                <a href="#create-recipe" class="list-button-text">Create Recipe</a>
            </li>
            <li>
                <a href="#first-recipe" class="list-button-text">Create your first recipe</a>
            </li>
            <li>
                <a href="#recipe-details" class="list-button-text">The recipe details page</a>
            </li>
            <li>
                <a href="#add-ingredients" class="list-button-text">Add Ingredients</a>
            </li>
            <li>
                <a href="#add-recipe" class="list-button-text">Add Recipe</a>
            </li>
            <li>
                <a href="#plan-overview" class="list-button-text">The Plan Overview</a>
            </li>
            <li>
                <a href="#shopping-list" class="list-button-text">Create and use Shopping Lists</a>
            </li>
            <li>
                <a href="#filter" class="list-button-text">Using Filters</a>
            </li>
        </ol>
    </div>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="start">1. Getting started</h4>
            <p >Step one to getting started with Dinner Wizard is to create a plan, so let's do that.</p>
            <p>Click on the "Create New Plan" button in your emtpy active plan list.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step1.png' %}" alt="Image showing where to find the create new plan button">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="create-plan">2. Create a Plan</h4>
            <p>Here you can give your plan a fitting name, For this example we call it "My first plan".</p>
            <p>As this is likely your first plan, go ahead and set it to active. The default is upcoming, more on that later.</p>
            <p>Go ahead and click create. As you can see, we will add recipes to this plan in the next step</p>
            <p class="fst-italic">If you forget to do this, don't worry. We can make it active later on.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step2.png' %}" alt="Image showing how to create a plan">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="create-recipe">3. Create recipe</h4>
            <p>After creating your plan, you are taken to the details page for the plan. Here you can add recipes.</p>
            <p>Notice that the recipes box is empty as you haven't added any recipes yet. Let's do that now.</p>
            <p>There are already many recipes created by other users that you can use by clicking the "Add Recipe" button, but more on that later.</p>
            <p>For now, let's use the "Create New Recipe" button.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step3.png' %}" alt="Image showing the plan details page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="first-recipe">4. Create your first recipe</h4>
            <p>Clicking the "Create New Recipe" button will take you to the recipe creation.</p>
            <p>Write a fitting name for your recipe, something that will make it obvious for others what it is.</p>
            <p>In the description you write how to create the recipe. If you want to, you can start the text with a presentation of your recipe.</p>
            <p>Next step is to select categories for your recipe, there are many to choose from, so pick the ones that fit best. You can select one, many or none. It is all up to you.</p>
            <p>As with recipes when you created your plan, we will add ingredients to the recipe in the next step.</p>
            <p class="fst-italic">Note: You do not need to write a list of ingredients in the description, we will add then in the next step.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step4.png' %}" alt="Image showing the recipe creation page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="recipe-details">5. The recipe details page</h4>
            <p>Just as when you created a plan, when you click create on a recipe, you are taken to the details page.</p>
            <p>Again you will find an empty box for ingredients, so let's go ahead and add some. Click in the "Add Ingredients" button.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step5.png' %}" alt="Image showing where to find the add ingredients button">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="add-ingredients">6. Add Ingredients</h4>
            <p>Here you will find a list of ingredients that you can add. You can scroll through the list to find it, or use the filter button above the list to filter by name.</p>
            <p>If you can't find the ingredient you need, you can create a new one. Below the list you will find two fields, "name" and "unit". Add information to them and click "Create Ingredient" to add it. 
                <span class="fst-italic">Note: This will not add it to your recipe, just add it to the list of possible ingredients</span>
            </p>
            <p>When you find the ingredient you want, click on the "+" to add it. All you need to do is add a quantity and click "Add"</p>
            <p>After click add you will be returned to your recipe. Keep adding ingredients until you have all you need. When you are satisfied click the "Done" button.</p>
            <p>You will now be taken automatically to the plans overview page (read more about it below). Notice that your new recipe is automatically added to your plan.</p>
            <p class="fst-italic">You can create recipes witohut doing so from a plan, with the link in the top navigation or the button on the plans page. These will not be added to a plan, however.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/step6.png' %}" alt="Image showing how to use the ingredient list page">
            </div>
            <div class="image-container">
                <img src="{% static 'media/step7.png' %}" alt="Image showing the add ingredient pop-up">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="add-recipe">7. Add Recipe</h4>
            <p>If you want to add an existing recipe to your plan, click the "Add Recipe" button from your plan details page.</p>
            <p>Here you will find a list of recipes, simply select the ones you want and click add. You can select multiple recipes at once using the ctrl/cmd-key.</p>
            <p>In order to help you find the ones you want more quickly, there is a filter function. Read more about it in the advanced usage section.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/recipe-list.png' %}" alt="Image showing the recipe list page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col">
            <h4 id="plan-overview">8. The Plan Overview</h4>
            <p >This section will show you the different parts of the plan overview and how you can use it to gain full control of your plans and recipes.</p>
            <p>It is from this page that you edit your active plan, change active plan and create the shopping list.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>The Active Plan</h5>
                <p>This shows your active plan, and all the recipes that are in it. In order to edit your plan, click the "Edit Plan" button, it will take you back to the plan details page.</p>
                <p>Notice the star to the left of the recipe name. It will allow you to mark a recipe as favourite. This is handy when searching for recipes, but more on that later.</p>
                <p>If you want to see more details about a recipe, simply click the name, and the recipe view page will open. And don't worry, you can't change a recipe from this view.</p>
                <p>You may also notice the "Create Shopping List" button below the recipes. We will adress this one in another section.</p>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="{% static 'media/active-plan.png' %}" alt="Image showing the active plan section">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Upcoming/Previous Plans</h5>
                <p>These boxes work much the same way. The upcoming plans shows all the plans you have created but not yet used, and similarly the previous plans lists all your used plans.</p>
                <p>All plans that are created are set as upcoming by default (you can change this as we did in step 2) allowing you to plan ahead without changing your current plan.</p>
                <p>In order to set a plan to active, click the toggle button next to it. This can be done to both upcoming and previous plans.</p>
                <p>If you feel that you no longer need a plan, you can safely delete it using the trashcan next to the toggle button.</p>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="{% static 'media/make-active.png' %}" alt="Image showing how to set a plan as active">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Your Recipes</h5>
                <p>This will show you a list of all the recipes you have created. As you are the creator, only you can edit a recipe.</p>
                <p>Simply click the small edit icon to open the recipe edit page. Use this carefully though, other users may use your recipes so completely changing one may affect others.</p>
                <p>If you wish to create a recipe without adding it to a plan, use the button below the list.</p>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="{% static 'media/recipes.png' %}" alt="Image showing the user's recipes list">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>Shopping Lists</h5>
                <p>All shopping lists that you have created.</p>
                <p>In order to view one simply click on it and it will open the shopping list page.</p>
                <p>When you feel that you no longer need it, simply click the trashcan to delete it.</p>
                <p>You can find more information about shopping lists in the next section</p>
            </div>
            <div class="col-md-6">
                <div class="image-container">
                    <img src="{% static 'media/shopping.png' %}" alt="Image showing the user's shopping lists">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="shopping-list">9. Create and use Shopping Lists</h4>
            <p>Remember the button "Create Shopping List" we talked about in the previous section? Let's go ahead and use it.</p>
            <p>After clicking it a pop-up will open, where you can name your Shopping List. Go ahead and do that and click "Create".</p>
            <p>Now you are sent to the shopping list page. Here you can see every ingredient item that was in each of your recipes. 
                <span class="fst-italic">A neat feature to the shopping list is that it adds any ingredient that exists in more than one recipe, so you will never have duplicates of the same ingredient.</span>
            </p>
            <p>Here you are also able to add any ingredient or item that you need to buy outside of the recipes you have in your plan. As you can see in the image, we have added a tube of toothpaste.</p>
            <p>Sometimes you already have ingredients at home (such as salt or water), in that case simply delete them using the trashcan.</p>
            <p>When you go shopping, it is always nice to cross out an item after grabbing it off the shelf. Why don't you try the checkbox to the left of the item and see what happens?</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/slist.png' %}" alt="Image showing the shopping list page">
            </div>
        </div>
    </div>
    <hr>
    <div class="row mt-3 about">
        <div class="col-md-6">
            <h4 id="filter">10. Using Filters</h4>
            <p>When adding recipes, it may be problematic to search the entire list. Luckily, there is a filter function.</p>
            <p>This will allow you to filter recipes by name (using the text input), your own recipes or your favourites (using the checkboxes) or category (using the selector).</p>
            <p>All fields are optional, you can filter using none of them, or all of them.</p>
            <p>The filter for ingredients work much the same way, with just the name and no other field.</p>
            <p class="fst-italic">Note: The text input will search for all recipes containing whatever you enter in your search, in that exact order.</p>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="{% static 'media/filter-recipe.png' %}" alt="Image showing the recipe list filter">
            </div>
        </div>
    </div>
</div>

{% endblock %}