{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to Dinner Wizard</h1>
        </div>
    </div>
    
    {% if user.is_authenticated %}
    <div class="row">
        <div class="col-md-8 plan-container">
            {% if active_plan %}

            <h4>{{ active_plan }}</h4>

            <h6>Recipes</h6>
            <ol class="recipe-list">
                {% for recipe in active_plan.recipes %}
                <li class="recipe-item">
                    <span class="recipe-item-list">{{ recipe }}</span>
                    <a href="#" class="btn btn-primary"></a>
                </li>
                {% endfor %}
            </ol>

            {% else %}

            {% endif %}
        </div>
        
        <div class="col-md-4 upcoming-plan-container">
            {% if plans %}
            <h4>Upcoming plans</h4>
            <ul class="upcoming-plan-list">
                {% for plan in plans %}
                {% if plan.status == 0 %}
                <li class="upcoming-item">
                    <span class="upcoming-item-text">{{ plan }}</span>
                    <a class="btn btn-primary" href="#">Make Active</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% else %}
            <h4>You have no dinner plans</h4>
            <p>Click the "create plan" button to start creating</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col hero">
            <h4 class="hero-header">The number one dinner planner</h4>
            <a href="#" class="btn btn-success">Sign Up</a>
            <p class="hero-text">To start planning your dinners right now!</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}