{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Add ingredient to {{ recipe }}</h1>

    <button class="btn btn-primary" 
        onclick="showForm('filter-form');"
    >Filter</button>

    <div class="hide" id="filter-form">
        <p>Use this form to edit the ingredient list.</p>
        <form action="{% url 'ingredient_list' recipe.id plan_id %}" method="GET">
            <div class="form-group" id="div-id-name">
                <label for="name">Name</label>
                <div>
                    <input type="text" aria-label="Name" name="name" class="form-control input-background">
                </div>
            </div>
            <button class="btn btn-success" type="submit">Done</button>
        </form>
    </div>

    {% if ingredient_templates %}

    <p>To add an ingredient to your recipe, use the + next to it</p>
    <h4>Ingredients</h4>
    <ul class="ingredient-list">
            <li>
                <span class="ingredient-template-item">Name</span>
                <span class="ingredient-template-item">Unit</span>
                <span class="ingredient-template-item">Add</span>
            </li>
            <hr>
        {% for ingredient_template in ingredient_templates.all %}
            <li class="list-item">
                <span class="ingredient-template-item">{{ ingredient_template }}</span>
                <span class="ingredient-template-item">{{ ingredient_template.unit }}</span>
                <span class="list-button" onclick="showIngredientForm('{{ingredient_template.name}}', '{{ingredient_template.unit}}');"><i class="fas fa-plus-circle"></i></span>
            </li>
        {% endfor %}
    </ul>
        
    {% else %}
    <p>No ingredients found for your filter choice</p>
    {% endif %}

    <form action="{% url 'ingredient_list' recipe.id plan_id %}" method="POST">
        <div class="form-group" id="div-id-new-template">
            <div>
                <label for="template-name">Name</label>
                <input type="text" aria-label="Name" name="name" class="form-control input-background">
            </div>
            <div>
                <label for="template-unit">Unit</label>
                <input type="text" aria-label="Unit" name="unit" class="form-control input-background">
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Create Ingredient</button>
    </form>

    <div class="ingredient-form modal" id="ingredient-form">
        <form action="{% url 'add_ingredient' recipe.id plan_id %}" method="POST" class="modal-form mx-auto">
            <div class="form-group m-2" id="div-id-ingredient-name">
                <label for="ingredient-name">Name</label>
                <input type="text" aria-label="Name" name="name" id="ingredient-name" readonly class="form-control input-background">
            </div>
            <div class="form-group m-2" id="div-id-ingredient-name">
                <label for="ingredient-quantity">Quantity</label>
                <input type="number" step="0.5" min="0" aria-label="Quantity" name="quantity" id="ingredient-quantity" class="form-control input-background">
            </div>
            <div class="form-group m-2" id="div-id-ingredient-name">
                <label for="ingredient-unit">Unit</label>
                <input type="text" aria-label="Unit" name="unit" id="ingredient-unit" readonly class="form-control input-background">
            </div>
            <button type="submit" class="btn btn-success m-2">Add</button>
            <button class="btn btn-danger modal-close m-2" onclick="closeModalForm('ingredient-form')">Close</button>
            {% csrf_token %}
        </form>
    </div>
    <button class="btn btn-danger mt-2" onclick="goBack();">Back</button>
</div>

{% endblock content %}