{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">

    {% if activity == 'create' %}

    <h1>Create a New Plan</h1>
    
    <form action="{% url 'create_plan' %}" method="POST">
        <div class="form-group" id="div-id-name">
            <label for="name" class="requiredField">Name</label>
            <div>
                <input type="text" aria-label="Name" name="name" class="form-control input-background">
            </div>
        </div>
        <div class="form-group" id="div-id-status">
            <label for="status" class="requiredField">Status</label>
            <div>
                <select name="status" id="status" class="select form-control input-background">
                    <option value="0">Upcoming</option>
                    <option value="1">Active</option>
                    <option value="2">Previous</option>
                </select>
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-success mt-2">Create</button>
        <p>Recipes will be added later</p>
    </form>

    <div>
        <a href="{% url 'create_recipe' plan_id=0 %}" class="btn btn-primary">Create New Recipe</a>
    </div>
    
    {% else %}
    
    <h1>Edit Plan</h1>
    
    <form action="{% url 'edit_plan' plan.id %}" method="POST">
        <div class="form-group" id="div-id-name">
            <label for="name" class="requiredField">Name</label>
            <div>
                <input type="text" aria-label="Name" name="name" class="form-control input-background"
                    value="{{ plan.name }}"
                >
            </div>
        </div>
        <div class="form-group" id="div-id-status">
            <label for="status" class="requiredField">Status</label>
            <div>
                <select name="status" id="status" class="select form-control input-background">
                    {% if plan.status == 0 %}
                    <option value="0" selected>Upcoming</option>
                    {% else %}
                    <option value="0">Upcoming</option>
                    {% endif %}
                    {% if plan.status == 1 %}
                    <option value="1" selected>Active</option>
                    {% else %}
                    <option value="1">Active</option>
                    {% endif %}
                    {% if plan.status == 2 %}
                    <option value="2" selected>Previous</option>
                    {% else %}
                    <option value="2">Previus</option>
                    {% endif %}
                </select>
            </div>
        </div>
        {% csrf_token %}
        
        <div class="col-md-6 button-container">
            <button type="submit" class="btn btn-success">Edit Plan</button>
            <a href="{% url 'recipe_list' plan.id %}" class="btn btn-success">Add Recipe</a>
            <a href="{% url 'create_recipe' plan.id %}" class="btn btn-primary">Create New Recipe</a>
        </div>
    </form>


    <form action="{% url 'remove_recipe' plan.id %}" method="POST">
        <div class="row">
            <div class="form-group col-md-4" id="div-id-recipe">
                <h4>Recipes</h4>
                <select name="recipe" id="recipe" multiple class="form-control input-background">
                    {% if plan.recipes %}
                        {% for recipe in plan.recipes.all %}
                            <option value="{{ recipe.id }}">
                                <span class="">{{ recipe }}</span>
                                {% for category in recipe.categories.all %}
                                <span class="">{{ category }}</span>
                                {% endfor %}
                                <span class="">{{ recipe.created_by }}</span>
                            </option>
                        {% endfor %}
                    {% endif %}
                </select>
                <button type="submit" class="btn btn-danger">Delete Recipe</button>
            </div>
        </div>
        {% csrf_token %}
    </form>
    {% endif %}



</div>

{% endblock content %}