{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to Dinner Wizard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 plan-container">
            <h2>Your Dinner Plans</h2>
            {% if active_plan %}

            <h4>{{ active_plan }}</h4>

            <h6>Recipes</h6>
            <ol class="recipe-list">
                {% for recipe in active_plan.recipes.all %}
                <div class="row">
                    <li class="recipe-item">
                        <span class="recipe-item-list">{{ recipe }}</span>
                    </li>
                </div>
                {% endfor %}
            </ol>
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'edit_plan' active_plan.id %}" class="btn btn-primary btn-small">Edit Plan</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" onclick="showShoppingForm();">
                        Create Shopping list
                    </button>
                    <div class="hide" id="shopping-form">
                        <form action="{% url 'create_list' active_plan.id %}" method="POST">
                            <div class="form-group" id="div-id-name">
                                <label for="name">Name</label>
                                <div>
                                    <input type="text" aria-label="Name" name="name" class="form-control">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Create</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div> 
            </div>
            {% else %}
            <h4>You have no plans</h4>
            <p>Click the "Create New Plan" button to begin using the application</p>
            {% endif %}
            <div class="row">
                <div class="col">
                    <a href="{% url 'create_plan' %}" class="btn btn-success">Create New Plan</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>Your recipes</h4>
                    {% if recipes %}
                    <ul>
                        {% for recipe in recipes %}
                        <li>
                            <span>{{ recipe }}</span>
                            <a href="{% url 'edit_recipe' recipe_id=recipe.id plan_id=0 %}" class="btn btn-primary">Edit</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
                <a href="{% url 'create_recipe' plan_id=0 %}" class="col btn btn-success">Create New Recipe</a>
        </div>
        <div class="col-md-4">
            <div class="row upcoming-plan-container">
                {% if plans %}
                <h4>Upcoming plans</h4>
                <ul class="upcoming-plan-list">
                    {% for plan in plans %}
                    {% if plan.status == 0 %}
                    <li class="upcoming-item">
                        <span class="upcoming-item-text col-6">{{ plan }}</span>
                        <a class="btn btn-primary" href="{% url 'make_active' plan.id %}">Make Active</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <h4>You have no dinner plans</h4>
                <p>Click the "create plan" button to start creating</p>
                {% endif %}
            </div>
            <div class="row previous-plan-container">
                {% if plans %}
                <h4>Previous plans</h4>
                <ul class="upcoming-plan-list">
                    {% for plan in plans %}
                    {% if plan.status == 2 %}
                    <li class="upcoming-item">
                        <span class="upcoming-item-text col-6">{{ plan }}</span>
                        <a class="btn btn-primary" href="{% url 'make_active' plan.id %}">Make Active</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <h4>You have no dinner plans</h4>
                <p>Click the "create plan" button to start creating</p>
                {% endif %}
            </div>
        </div>
        
    </div>
</div>

{% endblock %}