{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Welcome to Dinner Wizard</h1>
            <h2>{{ user }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="active-plan-container">
                <h2 class="m-1">Active Dinner Plan</h2>
                {% if plans %}
                {% if active_plan %}
                <h4 class="m-1">Name: {{ active_plan }}</h4>

                <div class="plan-buttons m-1">
                    <a href="{% url 'edit_plan' active_plan.id %}" class="btn btn-primary btn-small">Edit Plan</a>
                    <a href="{% url 'create_plan' %}" class="btn btn-success btn-new-plan">Create New Plan</a>
                </div>

                <h4 class="m-1">Recipes</h4>
                <hr>
                <div>
                    <span class="recipe-item-name">Name</span>
                    <span class="recipe-item-category" style="margin-left: 2rem;">Category</span>
                </div>
                <ul class="recipe-list">
                    {% if active_plan.recipes.all %}
                        
                    {% for recipe in active_plan.recipes.all %}
                        <li class="recipe-item">
                            {% if user in recipe.favourites.all %}
                            <span><a href="{% url 'add_favourite' recipe.id %}" class="list-button"><i class="fas fa-star"></i></a></span>
                            {% else %}
                            <span><a href="{% url 'add_favourite' recipe.id %}" class="list-button"><i class="far fa-star"></i></a></span>
                            {% endif %}
                            <span class="recipe-item-name"><a href="{% url 'view_recipe' recipe.id %}" class="list-button-text">{{ recipe }}</a></span>
                            {% for category in recipe.categories.all %}
                            <span class="recipe-item-category">{{ category }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                    {% if active_plan.num_of_recipes == 1 %}
                    <li>
                        <p class="m-2 fst-italic">{{ active_plan.num_of_recipes }} recipe</p>
                    </li>
                    {% elif active_plan.num_of_recipes > 1 %}
                    <li>
                        <p class="m-2 fst-italic">{{ active_plan.num_of_recipes }} recipes</p>
                    </li>
                    {% endif %}
                    <li>
                        <button class="btn btn-success m-2 mt-3" onclick="showModalForm('shopping-form');">
                            Create Shopping list
                        </button>
                    </li>
                    {% else %}
                    <span class="m-2 fw-bold">You have no recipes, click "Edit Plan" to add recipes to your plan</span>
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="shopping-list-form modal" id="shopping-form">
                        <form action="{% url 'create_list' active_plan.id %}" method="POST" class="modal-form mx-auto">
                            <div class="form-group" id="div-id-name">
                                <p class="m-2">Name</p>
                                <div>
                                    <input type="text" aria-label="Name"  name="name" class="form-control m-2">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success m-2">Create</button>
                            <button class="btn btn-danger modal-close m-2" onclick="closeModalForm('shopping-form')">Close</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div> 
            </div>
            {% endif %}
            <div class="row plan-container">
                <div class="col-lg-6">
                    <h4>Your recipes</h4>
                    {% if recipes %}
                    <ul class="plan-list">
                        {% for recipe in recipes %}
                        <li class="list-item m-2">
                            <span class="item-text">{{ recipe }}
                                <a href="{% url 'edit_recipe' recipe_id=recipe.id plan_id=0 %}" class="list-button"><i class="fas fa-edit"></i></a>
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
                <a href="{% url 'create_recipe' plan_id=0 %}" class="col btn btn-success">Create New Recipe</a>
        </div>
        <div class="col-md-4">
            <div class="row plan-container mt-5">
                <div class="col">
                {% if plans %}
                    <h4>Upcoming plans</h4>
                    <ul class="plan-list">
                        {% for plan in plans %}
                        {% if plan.status == 0 %}
                        <li class="list-item m-2">
                            <span class="item-text">{{ plan }}
                                <a href="{% url 'make_active' plan.id %}" class="list-button"><i class="fas fa-toggle-off"></i></a>
                            </span>
                            <span><a href="{% url 'delete_plan' plan.id %}" class="list-button"><i class="fas fa-trash-alt"></i></a></span>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h4>You have no upcoming dinner plans</h4>
                    <p>Click the "create plan" button to start creating</p>
                {% endif %}
                </div>
            </div>
            <div class="row plan-container">
                <div class="col">
                {% if plans %}
                    <h4>Previous plans</h4>
                    <ul class="plan-list">
                        {% for plan in plans %}
                        {% if plan.status == 2 %}
                        <li class="list-item m-2">
                            <span class="item-text">{{ plan }}</span>
                            <a href="{% url 'make_active' plan.id %}" class="list-button"><i class="fas fa-toggle-off"></i></a>
                            <span><a href="{% url 'delete_plan' plan.id %}" class="list-button"><i class="fas fa-trash-alt"></i></a></span>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    <h4>You have no previous dinner plans</h4>
                {% endif %}
                </div>
            </div>
            <div class="row shopping-list-container">
                <div class="col">
                    <h4>Shopping Lists</h4>
                    <ul class="plan-list">
                        {% if shopping_lists %}
                        {% for list in shopping_lists.all %}
                        <li class="list-item m-2">
                            <a href="{% url 'shopping_list' list.id %}" class="list-button-text">{{ list.name }}</a>
                            <span><a href="{% url 'delete_shopping_list' list.id %}" class="list-button"><i class="fas fa-trash-alt"></i></a></span>
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
            <h4 class="m-2">You have no plans</h4>
            <p class="m-2">Click the "Create New Plan" button to begin using the application</p>
            <a href="{% url 'create_plan' %}" class="btn btn-success m-2">Create New Plan</a>
        {% endif %}
    </div>
</div>

{% endblock %}